<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>yellowBomb</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>yellow1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow3.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow4.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow5.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow6.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>key1</key>
						<integer>1234</integer>
						<key>key2</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow7.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow8.png</string>
					<key>delayUnits</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow9.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow10.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow11.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow12.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow13.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>yellow14.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<key>greenBomb</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>green1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green3.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green4.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green5.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green6.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>key1</key>
						<integer>1234</integer>
						<key>key2</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green7.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green8.png</string>
					<key>delayUnits</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green9.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green10.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green11.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green12.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green13.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>green14.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<key>purpleBomb</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>purple1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple3.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple4.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple5.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple6.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>key1</key>
						<integer>1234</integer>
						<key>key2</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple7.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple8.png</string>
					<key>delayUnits</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple9.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple10.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple11.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple12.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple13.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>purple14.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<key>orangeBomb</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>orange1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange3.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange4.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange5.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange6.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>key1</key>
						<integer>1234</integer>
						<key>key2</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange7.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange8.png</string>
					<key>delayUnits</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange9.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange10.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange11.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange12.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange13.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange14.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange15.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>orange16.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>orange17.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>../Resources/image/battle/yellowBomb.plist</string>
			<string>../Resources/image/battle/greenBomb.plist</string>
			<string>../Resources/image/battle/orangeBomb.plist</string>
			<string>../Resources/image/battle/purpleBomb.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
