# ignore for webstorm
.idea/

# ignore for vp
vpworkspace/
*.vpp~*

# ignore for doc generator
server/doc/api/

# ignore for vs
*.sdf
*.suo
Debug.*/
Release.*/
*.opensdf
ipch/

# ignore for xcode
.DS_Store
xcuserdata/

client/Resources/pub
